.breadcrumb__ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: $padding-sm 0;
  align-items: center;
}
.breadcrumb__li {
  color: $color-gray-700;
  font-size: $font-size-sm;

  &:last-child {
    font-weight: bold;
  }
  &:not(:last-child)::after {
    content: ">";
    padding: 0 .7rem;
  }
}


